<div class="doc">
  <div class="pic">
    <% if document.file.attached? %>
      <canvas id="pdf-canvas-<%= document.id %>"></canvas>

      <script>
        document.addEventListener("turbo:load", function() {
        const pdfUrl = '<%= url_for(document.file) %>';
        const canvas = document.getElementById('pdf-canvas-<%= document.id %>');
        if (canvas) {
          const loadingTask = pdfjsLib.getDocument(pdfUrl);
          loadingTask.promise.then(pdf => {
            pdf.getPage(1).then(page => {
              const scale = 1.5;
              const viewport = page.getViewport({ scale: scale });
              const context = canvas.getContext('2d');
              canvas.height = viewport.height;
              canvas.width = viewport.width;

              const renderContext = {
                canvasContext: context,
                viewport: viewport
              };
              page.render(renderContext);
            });
          }).catch(error => {
            console.error('Error loading PDF:', error);
          });
        }
      });
      </script>
    <% end %>
  </div>
  <div class="info">
    <div class="title">
      <h2><%= document.title %></h2>
    </div>
    <p><%= document.description %></p>
  </div>
</div>
