<div class="content">
<div class="position-relative">
  <h1 class="text-center">Edit Your Document</h1>
   <%= form_with url: destroy_document_path(@document), method: :delete, class: "delete-form" do |f| %>
      <%= f.hidden_field :document_id, value: @document.id %> <!-- Hidden field for document ID -->
      <button type="submit" class="btn btn-secondary position-absolute bg-transparent border-0 top-0 end-0 p-2 me-4 fs-4" id="delete-document-btn">
        <i class="bi bi-trash"></i>
      </button>
    <% end %>
</div>
  <div class="add-doc">
    <%= simple_form_for [@document] do |f| %>
      <div class="form">
        <%= f.input :title,
                    required: true,
                    autofocus: true %>
        <%= f.input :description, as: :text, :input_html => { :cols => 5, :rows => 3 },
                    required: true,
                    autofocus: true %>

        <div class="text-center">
          <%= f.button :submit, "Save Document", class: 'btn-secondary' %>
        </div>
        <br>
      </div>
    <% end %>
  </div>
</div>

<script>
  document.getElementById("delete-document-btn").addEventListener("click", function(event) {
    // Ask for confirmation before submitting the form
    if (!confirm("Are you sure you want to delete this document?")) {
      event.preventDefault();  // Prevent form submission if canceled
    }
  });
</script>
