<div class="add-doc">
  <h1>Add Your Document</h1>
  <div class="content">
    <%= simple_form_for [@document] do |f| %>
      <div class="form">
        <%= f.input :title,
                    required: true,
                    autofocus: true %>
        <%= f.input :description, as: :text, :input_html => { :cols => 5, :rows => 3 },
                    required: true,
                    autofocus: true %>
        <%= f.input :text, as: :text, :input_html => { :cols => 5, :rows => 10 },
                    autofocus: true %>
        <%= f.input :photo, as: :file %>
        <div class="text-center">
          <%= f.button :submit, "Add Document", class: 'btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
