<div class="head">
  <h1> <%= @document.title %> - Edit History</h1>
</div>
<div class="edit-history d-flex">
  <div class='versions'>
    <% @versions.reverse.each_with_index do |version, index| %>
      <% user = User.find_by(id: version.whodunnit) %>
      <% if user %>
        <% document_data = YAML.safe_load(version.object, permitted_classes: [ActiveSupport::TimeWithZone, ActiveSupport::TimeZone, Time], aliases: true) %>
        <div class="version-card" data-transcription="<%= document_data['transcription'] %>" data-index="<%= index %>" current-transcription="<%= @document.transcription %>">
          <p><%= version.created_at %> updated by <%= user.username %></p>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="transcription-container">
    <textarea id="transcription-text" rows="18" cols="70" readonly></textarea>
  </div>
</div>

<script>
  const versions = document.querySelectorAll('.version-card')
  versions.forEach((version) => {
    version.addEventListener("click", (event) => {
      const index = parseInt(version.getAttribute('data-index'));
      if (index > 0) {
        const nextVersion = versions[index - 1];
        const transcription = nextVersion.getAttribute('data-transcription');
        document.getElementById('transcription-text').value = transcription;
      } else {
        document.getElementById('transcription-text').value = version.getAttribute('current-transcription');
      };
      versions.forEach(v => v.classList.remove('selected'))
      version.classList.add('selected')
    });
  })



</script>
