<!DOCTYPE html>
<html>
  <head>
    <title>HistoricalDocumentTranscriber</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="description" content="A website where users can search through and help transcribe historical documents such as handwritten letters or old newspapers.">

    <meta name="keywords" content="TranscribeHistory, historical document transcriber, transcribe letters, historical document archive">

    <meta name="author" content="TranscribeHistory">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

     <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.10.377/pdf.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.10.377/pdf.worker.min.js"></script>



  </head>

  <body class="<%= (controller_name == 'documents' && action_name == 'show') || (controller_name == 'documents' && action_name == 'versions') ? 'exempt-background' : ((controller_name == 'documents' && action_name == 'index') || (controller_name == 'documents' && action_name == 'your_documents') ? 'index-background' : '') %>">
    <% unless controller_name == 'pages' && action_name == 'home' %>
      <%= render 'shared/home_button' %>
    <% end %>
    </header>
    <%= render "shared/flashes" %>
    <%= yield %>
  </body>
</html>
